body {
  margin: 0;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background {
  transform: translateZ(-10px) scale(2);
}

.foreground {
  transform: translateZ(-5px) scale(1.5);
}

.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.title {
  font-size: 7rem;
  color: white;
  text-shadow: 0 0 5px black;
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

section {
  font-size: 2rem;
  padding: 2rem;
  background-color: #333;
  color: white;
}

.verse {
  color: rgb(59, 133, 218);
}

.verse-text {
  font-size: 2rem;
  padding: 2rem;
  background-color: #333;
  color: white;
}

.nav-header {
  a {
    text-decoration: none;
  }

   li {
    color: #000;
    padding: 20px;
    font-size: 1.5rem;
    display: inline-block;
  }

  a {
    box-shadow: inset 0 0 0 0 #5e86d6;
    color: #6699FF;
    padding: 0 .50rem;
    margin: 0 -.50rem;
    /* transition: color 1s ease-in-out, box-shadow .5s ease-in-out; */
    border: #000 2px;
    transition: all 1s ease-out;
  }
  a:hover {
    color: #fff;
    box-shadow: inset 200px 0 0 0 #5d82cd;;
  }
}


.active {
  background-color: #04AA6D;
  color: white;
}

.footer {
  background-color: #6699FF;
  color: #FFFFFF;
  font-family: 'Droid Sans', sans-serif;
  text-align: center;
  padding: 1.5em;
  h1 {
    font-size: 2.5em;
  }
  
  ul {
    padding: 0;
    font-size: 2em;

    li {
      display: inline-block;
      width: 1.2em;

      &.grow {
        transition: all .2s ease-in-out;

        &:hover {
          transform: scale(1.5);
        }
      }
    }
  }
  a {
    text-decoration: none;
    font-size: 2em;
    color: white;
    padding: 0.15em;  
    &.grow {
      transition: all .2s ease-in-out;
      &:hover {
        transform: scale(1.5);
      }
    }
  }
}
